@media (max-width: 600px) {
    .tab-general {
        display: block;
        height: 75px;
    }

    .tab {
        width: 90%;
        height: 100px;
    }

    .idNameStatusAnd {
        width: 100%;
    }

    .FromTimetillTimeLongIsland {
        width: 100%;
    }

    .locationQueue {
        width: 100%;
    }

    .bottom-tab input {
        width: 94%;
        left: 1%;
    }

    .LongIsland {
        position: absolute;
        right: 1%;
        height: 25px;
    }

    .status-and {
        border-radius: 0;
        position: absolute;
        right: 1%;
        height: 23px;
        top: 2px;
    }

    .location input {
        margin-left: 2%;
    }

    .queue { 
        position: absolute;
        right: 1%;
        height: 25px;
    }
}